<!doctype html>
<html ng-app="kemalTest">
  <head>
    <title>Kemal posts test</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    
    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.min.js"></script>
    <script src="/main.js"></script>
  </body>
</html>